@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .li{
        @apply hover:bg-orange-500 px-1 transition duration-500
        hover:text-black rounded-xl
    }
}


@layer components{
    .but{
        @apply text-center text-cyan-400 bg-black
        rounded-lg px-2 text-center justify-center
    }
}


@layer base{
    @font-face {
        font-family: 'vazir';
        src: url('') format('');
    }
}